.logo {
  display: flex;
  flex-direction: column;
  &__title {
    @extend %logo_title;
    color: $color-primary;
    margin-bottom: 10px;
    transition: all .2s;
    &:hover {
      color: $color-primary-light;
    }
  }
  &__subtitle {
    @extend %logo_subtitle;
    color: $color-light-xl;
    text-align: center;
  }
}