.slider {
  @include block-padding(60px, 60px);
  width: 100%;
}

.slider__elements {
  display: grid;
  place-content: center;
  align-items: center;
  grid-template-columns: 52px 1fr 52px;
  grid-column-gap: 53px;
}

.slider__items {
  display: flex;
  justify-content: space-between;
}

.item-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  max-width: 270px;
  transition: all 0.2s;
  & > * {
    margin-bottom: 30px;
  }
  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;
    transform: scale(1.1);
    .button_bordered {
      background: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
  &__image {
  }
  & object {
    height: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .slider__elements {
    display: grid;
    place-content: center;
    align-items: center;
    grid-template-columns: 52px 580px 52px;
    grid-column-gap: 12px;
  }

  .slider__items {
    justify-content: space-evenly;
    gap: 40px;
  }

  .item-slider {
    &:hover {
      transform: scale(1);
    }

    &:last-child {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-mobile) and (max-width: ($screen-tablet - 1)) {
  .slider {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  
  .slider__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .button-arrow {
      margin-top: 20px;
      order: 2;
    }
  }

  .slider__items {
    justify-content: space-evenly;
    gap: 40px;
    flex: 1 0 100%;
  }

  .item-slider {
    &:hover {
      transform: scale(1);
    }

    &:not(:first-child) {
      display: none;
    }
  }
}