.footer {
  position: relative;
  height: 100%;
  background: no-repeat
    url("../assets/images/footer-block/footer-background.jpg")
    center/cover;
  &__container {
    padding-top: 40px;
  }
  &__contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.contacts {
  & > :not(:last-child) {
    margin-right: 160px;
  }
  &__block {
    margin-top: 16px;
    min-width: 279px;
  }
  &__heading {
    margin-bottom: 33px;
  }
  &__title {
    color: $color-light-xl;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    min-height: 46px;
    transition: 0.2s;
    &:hover p {
      color: $color-primary-light;
    }
    &:not(:last-child) {
      margin-bottom: 25px;  
    }
  }
  &__item > :not(:last-child) {
    margin-right: 20px;
  }
  &__text {
    @extend %h3;
    color: $color-primary;
  }
  &__image {
  }
}
