@charset "UTF-8";
/* Обнуление стилей */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #252b42;
  background-color: #fafafa;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Ограничивающий контейнер */
._container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* =============== FONTS =================== */
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"), url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.eot");
  src: url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"), url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot");
  src: local("Georgia"), url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.woff") format("woff"), url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.woff") format("woff"), url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* =============== ABSTRACT ================ */
.logo__title {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 110%;
}

.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 100%;
}

.menu {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0px;
}

.item-slider__title {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading__title {
  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.contacts__text, .slider-buttons > [disabled], .slider-buttons > * {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading__subtitle {
  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__button, .item-slider__button, .pets__button:hover, .item-slider:hover .item-slider__button {
  padding: 15px 45px;
  text-align: center;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: 0.2s;
}

.pets__button:hover, .item-slider:hover .item-slider__button {
  padding: 15px 45px;
  text-align: center;
  background: #fddcc4;
  border-radius: 100px;
}

.item-slider__button {
  border: 2px solid #f1cdb3;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.item-slider:hover .item-slider__button {
  border: 2px solid #fddcc4;
}

.slider-buttons > [disabled], .slider-buttons > * {
  display: inline-block;
  text-align: center;
  line-height: 46px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  color: #292929;
  box-sizing: border-box;
  border-radius: 100px;
  transition: all 0.2s;
  cursor: pointer;
}
.slider-buttons > :hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
  transform: scale(1.1);
}

.slider-buttons > [disabled] {
  background-color: rgba(0, 0, 0, 0);
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  pointer-events: none;
}

/* =============== BLOCKS ================== */
.page {
  flex: 1 1 auto;
}

/* =============== HEADINGS ================ */
/* =============== HEADER ================== */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.header__container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  min-height: 60px;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo__title {
  color: #545454;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.logo__subtitle {
  color: #292929;
  text-align: center;
  letter-spacing: 0.1em;
}

.menu {
  color: #545454;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  transition: 0.2s;
}
.menu__item:not(:last-child) {
  margin-right: 35px;
}
.menu__item:hover {
  color: #292929;
  cursor: pointer;
}
.menu__item:active {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
  cursor: pointer;
}
.menu__item_focused {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
}

/* ===================== PETS ======================== */
.pets {
  min-height: 100%;
  background-color: #f6f6f6;
}
.pets__container {
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets__heading {
  text-align: center;
}
.pets__slider {
  position: relative;
  width: 100%;
}
.slider {
  padding: 60px 0 0;
}
.slider__items {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 90px;
  grid-row-gap: 30px;
}
.slider__item {
  background-color: #fafafa;
  max-width: 270px;
  transition: all 0.2s;
}

.item-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  height: 435px;
}
.item-slider > * {
  margin-bottom: 30px;
}
.item-slider:hover {
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.05);
}
.item-slider object {
  height: 100%;
}
.item-slider__button {
  display: block;
}
.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.slider-buttons > :not(:last-child) {
  margin-right: 20px;
}
/* ====================== FOOTER ========================= */
.footer {
  position: relative;
  height: 100%;
  background: no-repeat url("../../../assets/images/footer-block/footer-background.jpg") center/cover;
}
.footer__container {
  padding-top: 40px;
}
.footer__contacts {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contacts > :not(:last-child) {
  margin-right: 160px;
}
.contacts__block {
  margin-top: 16px;
  min-width: 279px;
}
.contacts__block > :not(:last-child) {
  margin-bottom: 37px;
}
.contacts__title {
  color: #ffffff;
}
.contacts__item {
  display: inline-flex;
  align-items: center;
  transition: 0.2s;
}
.contacts__item:hover p {
  color: #fddcc4;
}
.contacts__item > :not(:last-child) {
  margin-right: 20px;
}
.contacts__text {
  color: #f1cdb3;
}

/*# sourceMappingURL=style.css.map */
