/* START-SCREEN */
.start-screen {
  position: relative;
  min-height: 100%;
  background: no-repeat
    url("../assets/images/start-screen-block/start-screen-background.jpg")
    center/cover;
  &__container {
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
  }
  &__body {
    max-width: 460px;
    position: relative;
    margin-top: 163px;
    // z-index: 2;
    & > :not(:last-child) {
      margin-bottom: 42px;
    }
  }
  &__title {
    @extend %h1;
    color: $color-light-xl;
  }
  &__text {
    @extend %paragraph-1;
    color: $color-dark-s;
    text-align: justify;
  }
}

/* ABOUT THE SHELTER */
.about {
  &__container {
    @include block-padding;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    margin-right: 120px;
  }
  &__body {
    max-width: 430px;
    & > :not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__text {
    @extend %paragraph-1;
    color: $color-dark-xl;
  }
}

/* PETS */
.pets {
  background-color: $color-light-l;
  &__container {
    @include block-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    text-align: center;
  }
}

// /* HELP */
.help {
  &__container {
    @include block-padding($bottom: 100px - 55px);
  }
  &__heading {
  }
  &__title {
    text-align: center;
  }
  &__items {
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
      margin: 0 60px;
    }
    & > * {
      padding-bottom: 55px;
    }
  }
  &__item {
  }
}

.item-help {
  text-align: center;
  &__image {
    margin-bottom: 30px;
  }
  &__text {
    @extend %h3;
  }
}

// /* DONATION */
.donation {
  background-color: $color-light-l;
  &__container {
    @include block-padding($top: 77px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    margin-right: 30px;
  }
  &__body {
    max-width: 380px;
  }
  &__body > :not(:last-child) {
    margin-bottom: 20px;
  }
  &__heading {
  }
  &__heading > :not(:last-child) {
    margin-bottom: 20px;
  }
  &__title {
  }
  &__subtitle {
  }
  &__card {
  }
  &__info {
    @extend %font-secondary;
    @include font(
      $size: 1.2rem,
      $height: 1.5,
      $style: italic,
      $spacing: -0.16px
    );
    color: $color-dark-m;
  }
}
.card {
  display: inline-block;
  padding: 10px 15px;
  background-color: $color-primary;
  border-radius: 9px;
  transition: 0.2s;
  &__icon {
    margin-right: 15px;
  }
  &__number {
    @extend %h3;
    display: inline;
  }
  &:hover {
    background-color: $color-primary-light;
  }
}

@media screen and (max-width: 1279px) {
  .start-screen {
    &__container {
      padding-top: 150px;
      flex-direction: column;
      align-items: center;
    }
    &__body {
      display: flex;
      flex-direction: column;
      max-width: 460px;
      margin-top: 0px;
      .button {
        align-self: center;
      }
    }
    &__image {
      margin-top: 100px;
      width: 74%;
      min-width: 569px;
      height: auto;
      align-self: flex-end;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about {
    &__container {
      @include block-padding;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__image {
      order: 2;
      margin: 80px 0 0;
    }
    &__body {
      min-width: 430px;
    }
  }

  .help__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px 60px;
    padding: 58px 39px;
    & > * {
      margin: 0;
    }
    & > * {
      padding-bottom: 0;
    }
  }

  .donation {
    &__container {
      flex-direction: column;
    }
    &__image {
      margin-top: 60px;
      margin-right: 0px;
      order: 2;
    }
  }
}

@media screen and (min-width: $screen-mobile) and (max-width: ($screen-tablet - 1)) {
  .menu__list {
    display: none;
  }

  .start-screen {
    &__title {
      @include font($size: 2.5rem, $height: 1.3, $spacing: 0.06em);
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__image {
      margin-top: 105px;
      width: 74%;
      min-width: 260px;
      height: auto;
      align-self: flex-end;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about {
    &__container {
      @include block-padding(42px, 42.4px);
    }
    &__title {
      text-align: center;
    }
    &__image {
      margin-top: 42px;
      img {
        width: 260px;
        height: 100%;
      }
    }
    &__body {
      min-width: auto;
      margin: 0 15px;
      text-align: justify;
      & > :not(:last-child) {
        margin-bottom: 22px;
      }
    }
    &__text {
      @extend %paragraph-1;
      color: $color-dark-xl;
    }
  }

  .pets {
    &__container {
      @include block-padding(42px, 42px);
    }
  }

  .help {
    &__container {
      padding-top: 42px;
      padding-bottom: 42px;
    }
  }

  .help__items {
    padding: 42px 5px 0;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 30px;
  }

  .item-help {
    text-align: center;
    &__image {
      margin-bottom: 20px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    &__text {
      @include font($size: 1.5rem, $height: 1.1, $spacing: 0.06em)
    }
  }

  .donation {
    &__container {
      @include block-padding(42px, 42px);
    }
    &__body {
      text-align: center;
    }
    &__subtitle {
      letter-spacing: 0;
    }
    &__body > :not(:last-child) {
      margin-bottom: 25px;
    }
    &__info {
      text-align: justify;
      margin: 0 9px;
    }
    &__image {
      margin-top: 42px;
      img {
        width: 260px;
      }
    }
  }
  .card {
    margin: 20px 9px;
    display: flex;
    align-items: center;
  }
  .card__number {
    @include font($size: 1.5rem, $height: 1.1, $spacing: 0.06em)
  }
}