/* Обнуление стилей */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #252b42;
  background-color: #fafafa;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Ограничивающий контейнер */
._container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* =============== FONTS =================== */
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.woff")
      format("woff"),
    url("../../../assets/fonts/Arial/ArialRegular/ArialRegular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.eot");
  src: url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.woff")
      format("woff"),
    url("../../../assets/fonts/Arial/ArialItalic/ArialItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot");
  src: local("Georgia"),
    url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.woff")
      format("woff"),
    url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"),
    url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.woff")
      format("woff"),
    url("../../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"),
    url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.woff")
      format("woff"),
    url("../../../assets/fonts/Georgia/GeorgiaBold/Georgia-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* =============== ABSTRACT ================ */

$font-arial: "Arial", sans-serif;
$font-georgia: "Georgia", serif;

$color-primary: #f1cdb3;
$color-primary-light: #FDDCC4;
$color-dark-s: #cdcdcd;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-3xl: #292929;


%logo_title {
  font-family: $font-georgia;
  font-size: 32px;
  line-height: 110%;
}

%logo_subtitle {
  font-family: $font-arial;
  font-size: 13px;
  line-height: 100%;
}

%paragraph-1 {
  font-family: $font-arial;
  font-size: 15px;
  line-height: 160%;
}

%h2 {
  font-family: $font-georgia;
  font-size: 44px;
  line-height: 130%;
}

%button-primary-form {
  padding: 15px 45px;
  text-align: center;
  background: $color-primary;
  border-radius: 100px;
}

%button-primary-text {
  font-family: $font-georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
}

%button-primary-form-hover {
  padding: 15px 45px;
  text-align: center;
  background: $color-primary-light;
  border-radius: 100px;
}

%button-primary {
  @extend %button-primary-form;
  @extend %button-primary-text;
}
%button-primary-hover {
  @extend %button-primary-form-hover;
  @extend %button-primary-text;
}
/* =============== BLOCKS ================== */
.page {
  flex: 1 1 auto;
}

.page__start-screen {
}

/* =============== HEADER ================== */

.header {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 50;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    min-height: 60px;
  }
  &__menu {
  }
}
.logo {
  display: flex;
  flex-direction: column;
  &__title {
    @extend %logo_title;
    color: $color-primary;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend %logo_subtitle;
    color: $color-light-xl;
    text-align: center;
    letter-spacing: 0.1em;
  }
}
.menu {
  @extend %paragraph-1;
  color: $color-dark-s;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
    &_focused {
      color: $color-light-s;
      border-bottom: 3px solid $color-primary;
    }
    &:hover {
      color: $color-light-s;
      border-bottom: 3px solid $color-primary;
      cursor: pointer;
    }
  }
}

/* ================ START SCREEN =================== */

.start-screen {
  position: relative;
  min-height: 100%;
  background: no-repeat
    url("../../../assets/images/start-screen/start-screen-background.jpg") center/cover;
  &__container {
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
  }
  &__body {
    max-width: 460px;
    position: relative;
    margin-top: 163px;
    z-index: 2;
    & > :not(:last-child) {
      margin-bottom: 42px;
    }
  }
  &__title {
    @extend %h2;
    color: $color-light-xl;
  }
  &__text {
    @extend %paragraph-1;
    color: $color-dark-s;
    letter-spacing: 0px;
    text-align: justify;
  }
  &__button {
    display: inline-block;
    @extend %button-primary;
    &:hover {
      @extend %button-primary-hover;
    }
  }
}
