.logo {
  display: flex;
  flex-direction: column;
  &__title {
    @extend %logo_title;
    color: $color-primary;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend %logo_subtitle;
    color: $color-light-xl;
    text-align: center;
    letter-spacing: 0.1em;
  }
}